name: CI PHP 8.3

on: [push]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: php-actions/composer@v6
        with:
          php_version: "8.3"

      - name: PHPUnit Tests
        uses: php-actions/phpunit@v3
        with:
          version: "8"
          php_version: "8.3"
